.main-section-1 {
    display: block;
    width: 100%;
    background-color: #00d9ff73;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 0px;
    opacity: 1;

}

.main-section-2 {
    width: 100%;
    background-color: #f0f0f0;
    margin: 0;
    opacity: 1;
    padding-bottom: 20px;
}

* {
    margin: 0;
}

.mobile-front {
    display: none;
}

@media (max-width: 800px) {
.desktop-front {
    display: none;
}

.mobile-front {
    padding-top: 25px;
    display: block;
    background-color: #f0f0f0;
}

  }