.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

.NavBar button {
    height: 20px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    margin-top: 0;
    top: 0;
    padding-top: 5px;
    padding-bottom: 0px;
    z-index: 20000;
    height: 60px;
}

.login-row {
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 20px;
    vertical-align: middle;
    margin-top: 17px;
}


.login-row a{
    display: inline;
    text-decoration: none;
    font-size: 12pt;
    color: #19181A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: middle;
    padding: 13px;
    
}

.login-row a.signup {
    border: 2px solid black;
    margin-left: 5px;
    font-size: 11pt;
    color: #19181A;
    background-color: white;
    opacity: .9;
}

div.logout {
    margin-left: 5px;
    font-size: 11pt;
    color: #19181A;
    border: 1px solid #19181A;
    background-color: white;
    display: inline;
    text-decoration: none;
    font-size: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: middle;
    padding: 13px;
}

div.logout:hover {
    cursor: pointer;
}

.login-row-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
   position: relative;
    margin-top: 90px;
    text-align: center;
}

.login-container {
    background-color: #40ccf3e7;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid #40ccf3e7;
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
    padding: 20px;
    z-index: 1000;
    padding-right: 40px;
    padding-left: 40px;
}

.login-container-2 {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    border: 1px solid rgba(25, 24, 26, 0.212);
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0px;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 1000;
}

.signup-container {
    background-color: #9fffffd2;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 800px;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px;
    padding: 20px;
    z-index: 1000;
}

img.teacher-login {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
}

.teacher-login-2 {
    padding-top: 40px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

input {
    width: 81%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 8px;
    outline: none;
    border: none;
    opacity: 1;
    padding-left: 20px;
    border-radius: 0px;
    height: 40px;
}

input.submit {
    width: 88%;
    padding: 0;
    border-radius: 0;
    height: 38px;
    outline: none;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

input.submit-1 {
    width: 89%;
    padding: 0;
    border-radius: 0;
    height: 38px;
    outline: none;
    border: none;
    border: 1px solid rgba(25, 24, 26, 0.507);
    background-color: transparent;

}

input.email-input {
    background-color: white;
    outline: 1px solid #19181a70;
    color: #19181A;
}

input.email-input:focus {
    outline: 1px solid #19181a70;
}

input:focus {
    outline: none;
    border: none;
}

.homeroom-logo {
    width: 180px;
    display: inline-block;
    padding: 0px;
    text-decoration: none;
}
* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .next-btn {
    width: 87%;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
    opacity: .9;
    height: 15px;
    margin: 0 auto;
    border-radius: 0px;
    border: 1px solid rgba(25, 24, 26, 0.637);
 }

 .signup-form {
     position: absolute;
    margin-top: -30px;
    width: 100%;
 }

 .hidden {
     display: none;
 }

 .demo-login {
    position: absolute;
    width: 88%;
    height: 13px;
    text-align: center;
    background-color: transparent;
    opacity: .9;
    border-radius: 0px;
    color: #19181A;
    outline: 1px solid white;
  margin-left: 18px;
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 11pt;

}

.demo-login-1 {
    position: absolute;
    width: 88%;
    height: 13px;
    text-align: center;
    background-color: transparent;
    opacity: .9;
    border-radius: 0px;
    color: #19181A;
    outline: 1px solid rgba(90, 90, 90, 0.185);
  margin-left: 18px;
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 11pt;

}

.demo-login-1:hover {
    cursor: pointer;
}

.student-login-title {
    font-weight: 800;
    font-size: 20pt;
    margin-top: 20px;
    color: white;

}

.teacher-login-title {
    font-weight: 800;
    margin-top: 20px;
    font-size: 20pt;
    color: #19181A;

}

.demo-login:hover {
  cursor: pointer;

}

@media (max-width: 600px) {
    .login-row {
        display: inline-block;
        text-align: center;
        position: absolute;
        right: 5px;
        vertical-align: middle;
        margin-top: 17px;
    }

    .login-row a{
        display: inline;
        text-decoration: none;
        font-size: 12pt;
        color: #19181A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        vertical-align: middle;
        padding: 13px;
        
    }
    
    .login-row a.signup {
        border: 2px solid black;
        margin-left: 0px;
        font-size: 11pt;
        color: #19181A;
        background-color: white;
        opacity: .9;
    }
    div.logout {
        margin-left: 0px;
        font-size: 11pt;
        color: #19181A;
        border: none;
        background-color: white;
        display: inline;
        text-decoration: none;
      
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        vertical-align: middle;
        padding: 13px;
    }

    .login-container {
        background-color: #40ccf3e7;
        position: relative;
        display: inline-block;
        width: 280px;
        height: 300px;
        border: 1px solid #2d383be7;
        border-right: 1px solid #2d383be7;
        border-bottom: none;
        border-radius: 0px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0px;
        margin: 0px;
        padding: 20px;
        z-index: 1000;
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .login-container-2 {
        background-color: rgb(255, 255, 255);
        position: relative;
        display: inline-block;
        width: 280px;
        height: 300px;
        border-radius: 0px;
        border: 1px solid rgba(25, 24, 26, 0.911);
        border-left: 1px solid rgba(25, 24, 26, 0.911);
        border-top: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin: 0px;
        padding: 20px;
        padding-right: 40px;
        padding-left: 40px;
        z-index: 1000;
    }
}